body {
    background-color: #6610f2 !important;
}

h1 {
    color: #ffc107 !important;
}

.btn {
    background-color: #ffc107 !important;
    color: #6610f2 !important;
}

.card:hover {
    cursor: pointer;
}