body {
    background-color: #6610f2 !important;
}

h1 {
    color: #ffc107 !important;
}

.btn {
    background-color: #ffc107 !important;
    color: #6610f2 !important;
}

.load-btn {
    color: rgba(33, 37, 41, 0.75) !important;
}

.pokemon-card {
        transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;
}

.pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
    border-radius: 1rem;
}

.pokemon-types {
    margin-top: 10px;
}

.pokemon-type {
    display: inline-block;
    padding: 4px 10px;
    margin: 2px;
    border-radius: 12px;
    color: rgba(33, 37, 41, 0.75);
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #ffc107 !important;
}

#pokemonContainer {
    margin-top: 1rem; 
}

#loadMoreBtn {
    display: block;
    margin: 2rem auto 3rem auto;
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
}

#searchInput:hover,
#loadMoreBtn:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}