.overlay-big-card {
  position: fixed;
  top: 0; left: 0;
  width: 100% !important; height: 100% !important;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  padding: 20px !important;
}

.d_none {
  display: none !important;
}

body.noscroll {
  overflow: hidden;
}

.big-card-template .card {
    width: 100% !important;
    max-width: 600px !important;
    border-radius: 15px;
    overflow: hidden;
}